{% extends 'base.html' %}

<!-- Page title -->
{% block title %} Register | Flasket {% endblock %}

<!-- main content of the page -->
{% block content %}
<h1 class="text-center fst-italic font-monospace mt-4 mb-4">Login</h1>
<div class="container-sm">
    <form method="POST" class="form-register">
        {{ form.hidden_tag() }} {{ form.email.label() }} {{
        form.email(class='form-control', placeholder='Email') }}
        <!--  -->
        {{ form.password.label() }} {{ form.password(class='form-control',
        placeholder='Password') }}
        <!--  -->
        <div class="checkbox mt-3">
            <h6>Do not have an account?</h6>
            <a
                class="btn btn-sm btn-secondary"
                href="{{ url_for('register_page') }}"
                >Register</a
            >
        </div>
        <div class="d-grid gap-2">
            {{ form.submit(class='btn btn-lg btn-primary mt-4') }}
        </div>
    </form>
</div>
{% endblock %}
