{% extends 'base.html' %}

<!-- page title  -->
{% block title %} Products Page {% endblock %}

<!-- main content of the page -->
{% block content %}
<h1 class="text-center fst-italic font-monospace mt-4 mb-4">Products Page</h1>
<div class="container-fluid">
    <div class="row">
        <div class="col-8">
            <h3 class="text-center">Availaible Items</h3>
            <table class="table table-hover table-dark table-striped">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Barcode</th>
                        <th scope="col">Price</th>
                        <th scope="col">Option</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %} {% if item %}
                    <!-- including the product modal html file -->
                    {% include 'includes/product_modal.html' %}
                    <tr class="align-middle">
                        <td>{{ item.id }}</td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.barcode }}</td>
                        <td>£{{ item.price }}</td>
                        <td>
                            <button
                                class="btn btn-round btn-info btn-sm"
                                type="button"
                                data-bs-toggle="modal"
                                data-bs-target="#product-{{ item.id }}-info"
                            >
                                Details
                            </button>
                            <button
                                class="btn btn-round btn-primary btn-sm"
                                type="button"
                                data-bs-toggle="modal"
                                data-bs-target="#product-{{ item.id }}-purchase"
                            >
                                Purchase
                            </button>
                        </td>
                    </tr>
                    {% else %}
                    <tr>
                        <td colspan="4">No products availaible</td>
                    </tr>
                    {% endif %} {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-4">
            <h3 class="text-center">Owned Items</h3>
            <div class="row">
                {% for item in owned_items %}
                <!--  -->
                {% include 'includes/product_modal.html' %}
                <div
                    style="max-width: 12rem"
                    class="mx-auto card text-center text-white mb-3 bg-secondary"
                >
                    <div class="card-body">
                        <h5 class="card-title">{{ item.name }}</h5>
                        <button
                            type="button"
                            class="btn btn-outline-danger"
                            style="margin-bottom: 5px"
                            data-toggle="modal"
                            data-target="#product-{{ item.id }}-sell"
                        >
                            Sell this Item
                        </button>
                        <p class="card-text">
                            <strong>Cost: {{ item.price }}£</strong>
                        </p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
