{% extends 'base.html' %}

<!-- Page title -->
{% block title %} Register | Flasket {% endblock %}

<!-- main content of the page -->
{% block content %}
<h1 class="text-center fst-italic font-monospace mt-4 mb-4">Create Account</h1>
<div class="container-sm">
    <form method="POST" class="form-register d-grid gap-2">
        {{ form.hidden_tag() }} {{ form.username.label() }} {{
        form.username(class='form-control', placeholder='UserName') }}
        <!--  -->
        {{ form.email.label() }} {{ form.email(class='form-control',
        placeholder='Email') }}
        <!--  -->
        {{ form.password1.label() }} {{ form.password1(class='form-control',
        placeholder='Password') }}
        <!--  -->
        {{ form.password2.label() }} {{ form.password2(class='form-control',
        placeholder='Confirm Password') }}
        <!--  -->
        {{ form.submit(class='btn btn-lg btn-primary mt-2') }}
    </form>
</div>
{% endblock %}
